<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bai 4</title>
</head>
<body>
<form action="/product/save1" method="post">
    <input name="name" value="${product.name}">
    <input name="price" value="${product.price}">
    <button>Save</button>
</form>

<ul>
    <li>${param.name}</li>
    <li>${param.price}</li>
</ul>

<ul>
    <li>${product.name}</li>
    <li>${product.price}</li>
</ul>

<ul>
    <c:forEach var="item" items="${items}">
        <li>${item.name}</li>
        <li>${item.price}</li>
    </c:forEach>
</ul>
</body>
</html>